@using Application.DTOs
@using Application.Services.ClassServices
@using Infrastructure.Migrations
@rendermode InteractiveServer
@inject NavigationManager Navigation
@inject IClassService ClassService

@* @page "/class/add" *@
@* <div> 
     <EditForm Model="classs" OnValidSubmit="SaveClass" FormName="AddClass" >
    
      <h1>Add Class</h1>
        <div class="form-group">
         <label for="name">Name</label>
        <InputText class="form-control" id="name" @bind-Value="classs.Name" />
         </div>

        <div class="form-group">
            <label for="educationLevel">Education Level</label>
            <InputNumber class="form-control" id="educationLevel" @bind-Value="classs.EducationLevelId" />
            </div>

            <div class="form-group">
                <label for="faculty">Faculty</label>
                <InputNumber class="form-control" id="faculty" @bind-Value="classs.FacultyId" />
                
             </div>
             <button type="submit" class="btn btn-primary mt-3">Add Class</button>   
     </EditForm>
   
</div> *@

<MudDialog>
    <TitleContent>Add Student</TitleContent>
    <DialogContent>
        <EditForm Model="classs" OnValidSubmit="SaveClass">
           <MudGrid>
            <MudItem xs="12">
                <MudTextField 
                @bind-Value="classs.Name"
                Margin="Margin.Dense"
                Variant="Variant.Outlined"
                Label="Name"
                Placeholder="Fullname">
                </MudTextField>
            </MudItem>
            <MudItem xs="12">
                <MudTextField 
                @bind-Value="classs.EducationLevelId"
                Margin="Margin.Dense"
                Variant="Variant.Outlined"
                Placeholder="Education Level">
                </MudTextField>
            </MudItem>
            <MudItem xs="12">
                <MudTextField 
                @bind-Value="classs.FacultyId"
                Margin="Margin.Dense"
                Variant="Variant.Outlined"
                Placeholder="Faculty">
                </MudTextField>
            </MudItem>
            <MudItem xs="12">
                <MudButton 
                Variant="Variant.Filled"
                Color="Color.Primary"
                FullWidth="true" 
                ButtonType="ButtonType.Submit">
                SAVE
                </MudButton>
            </MudItem>

           </MudGrid> 
        </EditForm>

    </DialogContent>
    
</MudDialog>
  

@code{
     [CascadingParameter]
    private IMudDialogInstance MudDialog { get; set; }
    private AddClassDTO classs = new ();
    private async Task SaveClass()
    {
        await ClassService.AddClassAsync(classs);
       MudDialog.Close(DialogResult.Ok(true));
    }
}