@page "/class"
@using Application.Services.ClassServices
@using Application.DTOs
@rendermode InteractiveServer       
@inject NavigationManager Navigation

@inject IClassService ClassService
<h1>
    Class List
     <a class="btn btn-primary" href="/class/add">Add Class</a>
</h1>
<table class="table">
    <tr>
        <th>Class ID</th>
        <th>Class Name</th>
        <th>Class EducationLevel</th>
        <th>Class Faculty</th>
    </tr>

@foreach(var cls in classes){
    <tr>
        <td>@cls.Id</td>
        <td>@cls.Name</td>
        <td>@cls.EducationLevelId</td>
        <td>@cls.FacultyId</td>

        <td> <a href="/Class/@cls.Id" class="btn btn-primary" >View Details</a>
        <a class="btn btn-primary" href="/class/add">Add Class</a></td>
    </tr>

}
</table>

@code
{
   
    private List<GetClassDTO> classes = new List<GetClassDTO>();
        protected override async Task OnInitializedAsync()
    {
        classes= await ClassService.GetAllClassesAsync();
    }
}